<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GWS</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/signin/driver" method="post">
    Phone Number:<input type="text" name="phoneNumber"><br><br>
    Birth Date:<input type="date" name="birthDate"><br><br>
    Vehicle: <select name="vType">
      <option value="" selected disabled>--Choose One--</option>
      <option value="bike">Bike</option>
      <option value="car">Car</option>
    </select><br><br>
    Police Number: <input type="text" name="policeNumber">
    <input type="Submit" value="Submit">
  </form>
</body>
</html>