<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GWS</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/signin" method="post">
    <p style="color: red;"><%= err %></p>
    Email :<input type="email" name="email"><br><br>
    Password: <input type="password" name="password" id="pass"><br>
    <input type="checkbox" onclick="showPass()">Show Password <br><br>
    <a href="/signup">Create account</a><input type="Submit" value="Sign In">
  </form>
  <script>
    let showPass = () => {
      let x = document.getElementById("pass");
      x.type === "password" ? x.type = "text":x.type = "password";
    }
  </script>
</body>
</html>