<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GWS</title>
</head>
<body>
<h1>You been arive, Tanks for Using Our Service</h1>
<h2> here your invoice Rp.<%=data.amount%></h2>
<h2>dont forget to give  5 star to <%= data.UserDetail.User.firstName %></h2>
</body>
</html>